@if (Request.IsAuthenticated)
{
    <img class="loginProfilePic" src="~/images/PA.jpg"/>
}
else
{
    <div class="nav navbar-nav navbar-right">
        <div>@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</div>
    </div>
}
