@{
    ViewBag.Title = "DoJo";
}

@if (Request.IsAuthenticated)
{
    string userName = User.Identity.Name;
    string displayname = userName.Split('@')[0];
    <input type="hidden" id="userName" value="@userName">
    <input type="hidden" id="alias" value="@displayname">
}

<div class="cardHeader">
    <span class="MBold float-Left verticalAlignMiddle">
        Recently Added
    </span>
    <span class="SRegularGrey marginLeft10 verticalAlignMiddle">
           
    </span>
</div>

<div class="cardBG">
    <div class="cardContent" ng-repeat="course in ang_coursesList | limitTo:1">
        <a href={{course.CR_URL}} target="_blank">
            <img class="largeImg cardImg float-Left" src={{course.CR_ImgURL}} />
            <div class="cardTextStyle MRegular"><span>{{course.CR_Title}}</span></div>
            <div class="cardTextStyle SRegularGrey"><span>{{course.CR_Website}}</span></div>
            <div class="cardTextStyle SRegularGrey"><span>{{course.CR_SharedBy}}</span></div>
        </a>
    </div>
</div>

<div class="sectionBG">

    <div class="sectionHeader">
        <span class="XLBold float-Left verticalAlignMiddle">
            Soft Skills
        </span>
        <span class="SRegularGrey marginLeft10 verticalAlignMiddle">
            ({{(ang_coursesList | filter:{CR_Type: 'Soft Skills'}).length}})
        </span>
    </div>

    <div class="sectionCarousel">
        <div class="sectionCard" ng-repeat="course in ang_coursesList | filter:{CR_Type: 'Soft Skills' }">
            <a href={{course.CR_URL}} target="_blank">
                <div><img class="mediumImg" src={{course.CR_ImgURL}} /></div>
                <div class="sectionTextStyle MRegular"><span>{{course.CR_Title}}</span></div>
                <div class="sectionTextStyle SRegularGrey"><span>{{course.CR_Website}}</span></div>
                <div class="sectionTextStyle SRegularGrey"><span>{{course.CR_SharedBy}}</span></div>
            </a>
        </div>
    </div>

</div>

<div class="sectionBG">

    <div class="sectionHeader">
        <span class="XLBold float-Left verticalAlignMiddle">
            Specialized Skills
        </span>
        <span class="SRegularGrey marginLeft10 verticalAlignMiddle">
            ({{(ang_coursesList | filter:{CR_Type: 'Specialized Skills'}).length}})
        </span>
    </div>

    <div class="sectionCarousel">
        <div class="sectionCard" ng-repeat="course in ang_coursesList | filter:{CR_Type: 'Specialized Skills' }">
            <a href={{course.CR_URL}} target="_blank">
                <div><img class="mediumImg" src={{course.CR_ImgURL}} /></div>
                <div class="sectionTextStyle MRegular"><span>{{course.CR_Title}}</span></div>
                <div class="sectionTextStyle SRegularGrey"><span>{{course.CR_Website}}</span></div>
                <div class="sectionTextStyle SRegularGrey"><span>{{course.CR_SharedBy}}</span></div>
            </a>
        </div>
    </div>

</div>

<div class="sectionBG">

    <div class="sectionHeader">
        <span class="XLBold float-Left verticalAlignMiddle">
            Tools Training
        </span>
        <span class="SRegularGrey marginLeft10 verticalAlignMiddle">
            ({{(ang_coursesList | filter:{CR_Type: 'Tools Training'}).length}})
        </span>
    </div>

    <div class="sectionCarousel">
        <div class="sectionCard" ng-repeat="course in ang_coursesList | filter:{CR_Type: 'Tools Training' }">
            <a href={{course.CR_URL}} target="_blank">
                <div><img class="mediumImg" src={{course.CR_ImgURL}} /></div>
                <div class="sectionTextStyle MRegular"><span>{{course.CR_Title}}</span></div>
                <div class="sectionTextStyle SRegularGrey"><span>{{course.CR_Website}}</span></div>
                <div class="sectionTextStyle SRegularGrey"><span>{{course.CR_SharedBy}}</span></div>
            </a>
        </div>
    </div>

</div>


<div class="sectionBG">

    <div class="sectionHeader">
        <span class="XLBold float-Left verticalAlignMiddle">
            All Courses
        </span>
        <span class="SRegularGrey marginLeft10 verticalAlignMiddle">
            ({{ang_coursesList.length}})
        </span>
    </div>

    <div class="sectionCarousel">
        <div class="sectionCard" ng-repeat="course in ang_coursesList">
            <a href={{course.CR_URL}} target="_blank">
                <div><img class="mediumImg" src={{course.CR_ImgURL}} /></div>
                <div class="sectionTextStyle MRegular"><span>{{course.CR_Title}}</span></div>
                <div class="sectionTextStyle SRegularGrey"><span>{{course.CR_Website}}</span></div>
                <div class="sectionTextStyle SRegularGrey"><span>{{course.CR_SharedBy}}</span></div>
            </a>
        </div>
    </div>

</div>
